# User Constraint File for 7-seg decoder implementation on Mojo with IO Shield

NET "CLK" LOC = P56; 

# 7-segments
NET "SEQ[7]" LOC = P5;
NET "SEQ[6]" LOC = P8;
NET "SEQ[5]" LOC = P144;
NET "SEQ[4]" LOC = P143;
NET "SEQ[3]" LOC = P2;
NET "SEQ[2]" LOC = P6;
NET "SEQ[1]" LOC = P1;
NET "SEQ[0]" LOC = P141;


# Digits 
NET "DIGIT[3]" LOC = P12;
NET "DIGIT[2]" LOC = P7;
NET "DIGIT[1]" LOC = P10;
NET "DIGIT[0]" LOC = P9;

# Inputs to slide switches 0 to 3
NET "D[0]" LOC = P120 | PULLDOWN;
NET "D[1]" LOC = P121 | PULLDOWN;
NET "D[2]" LOC = P118 | PULLDOWN;
NET "D[3]" LOC = P119 | PULLDOWN;

